button{
    border:none;
    background-color: transparent;
}

.editButton{
    color: rgb(10, 175, 43);
    font-size: 120%;
    padding-top: 10px;
}
.deleteButton{
    color: rgb(255, 0, 0);
    font-size: 120%;
    padding-top: 10px;
}
.deleteAccount{
    background-color: rgb(255, 0, 0);
    color:white;
}
.headerFila{
    background-color: rgb(49, 138, 228);
    color: white;
}
.fila:nth-child(odd){
    background-color:rgb(237, 231, 231);
}
table{
    border-collapse: collapse;
    width: 80%;
    margin-left: 7%;

}
th{
    border: 1px solid lightgrey;
    text-align: center;
}
.daySell{
    background-color:rgb(13, 195, 62);
    color: white;
    font-size: 150%;
}
.totalSellDay{
    background-color:rgb(227, 155, 12);
    color: white;
    font-size: 150%;
}
.totalsellAdmin{
    background-color:rgb(139, 76, 134);
    color: white;
    font-size: 150%;
}

#sidebar{
    transition-property: left;
    transition-duration: 0.5;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #111;
    padding-top: 20px;
    padding-left: 10px;
    color: white;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.navbar {
    background-color: #111 !important;
    padding: 15px;
    margin-left: 250px;
}

.navbar-toggler {
    color: white;
    border: none;
}
.content{
    background-color: black;
}
